
<!DOCTYPE html>

{% load staticfiles %}

<html>

    <head>
        {% load staticfiles %}
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...</h1>
        <div>
            This tutorial has been put together by WENKAIFANG <br />
            <strong>{{ boldmessage }}</strong><br />
        </div>
        <div>
            <a href="/rango/about/">About</a><br />
            <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" />
        </div>
    </body>

</html>